.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.font-boldoa {
  font-family: "Bugaki";
}

.font-boldoa1 {
  font-family: "Bugaki", sans-serif;
  font-weight: 900; /* Lebih berat */
  color: black;
  -webkit-text-stroke: 1px white; /* Stroke lebih tebal */
  text-stroke: 2px white; /* Untuk beberapa browser lain */
}



@font-face {
  font-family: 'Bugaki';
  src: url('./assets/fonts/Bugaki.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
